<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>insert title here</title>
</head>
<body>
<div>Welcome : <p><span th:text="${oAuth2AuthenticationToken}"/></p></div>
<div>oAuth2AuthenticationToken : <p><span th:text="${oAuth2AuthenticationToken}"/></div>
<div>accessToken : <p><span th:text="${accessToken}"/></div>
<div>refreshToken : <p><span th:text="${refreshToken}"/></div>


<div>
<a href="/logout">logout</a>
</div>
</body>

</html>